<div class="container">
    <div class="sectionHeaders">About me</div>
    <mat-card class="child-object">
        <mat-card-header>
          <mat-card-title-group style="margin-left: -32px; width: 70%; flex-direction: row-reverse; justify-content: flex-end;">
            <img mat-card-lg-image src="assets\PXL_20211031_013638686.jpg">
            <mat-card-title>Quinlan Walters</mat-card-title>
            <mat-card-subtitle>qwalters4@gmail.com</mat-card-subtitle>
            <mat-card-subtitle>(414)690-7738</mat-card-subtitle>
          </mat-card-title-group>
          <mat-card-title-group >
            <mat-card-title>University of Wisconsin-Milwaukee</mat-card-title>
            <mat-card-subtitle>Dec 2021</mat-card-subtitle>
          </mat-card-title-group>
        </mat-card-header>
        <mat-card-content style="margin-top: 20px;">
          Reprehenderit cupidatat anim ad ea qui minim aliqua. Aliquip ex velit id amet fugiat do ea do
           et. Esse aliquip tempor sint eu eiusmod tempor nostrud commodo est Lorem tempor. Cillum eu 
           commodo minim occaecat nisi consectetur nulla consectetur eu. Consectetur voluptate enim 
           cillum non exercitation ea irure velit.
        </mat-card-content>
      </mat-card>
      <div class="container" style="display:flex; flex-direction: column;">
        <div class="sectionHeaders">Purpose of this site</div>
        <div class="child-object">
            <p>I originally wanted to build this site so I could keep track of my personal projects and share them with others. 
                In order to do this I learned Angular for the front end, how to build my own REST APIs, and built my own database 
                to store the data. All of this was deployed by me and is being hosted on my own server.</p>
        </div>
      </div>
</div>