/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/pink-bluegrey.css";
/* Provide sufficient contrast against white background */

a:hover {
    color: #fff;
}
code {
  color: #e01a76;
}

p {
    color: #fff;
}

th {
  color: #fff;
  font-style:normal;
  font-weight: normal;
}

td {
  color: #fff;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.docs-header-background {
  overflow: hidden;
  position: relative;
  height: 420px;
}

.docs-header-background {
  background-image: linear-gradient(to top, #e91e63, #de0065);
}

.docs-header-section {
  width: 90%;
  position: absolute;
  z-index: 0;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.docs-header-headline {
  color: #fff;
}

header {
  display: block;
}

.docs-header-background:before {
  content: "";
  position: absolute;
  background-image: url("C:\Users\E5671663\OneDrive - FIS\Documents\rads-app\src\assets\angular-white-transparent.d4d5ed2946afa9f1.svg");
  background-size: 200px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  background-position: 95% 50px;
  opacity: .2;
}

.wip-statement {
    padding: 10px;
    text-align: center;
    color: #fff;
}

.mat-h1, .mat-headline, .mat-typography .mat-h1, .mat-typography .mat-headline, .mat-typography h1 {
  font: 400 80px/100px Roboto,Helvetica Neue,sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
}

h1 {
  display: block;
  font-size: 2em;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  color: #fff;
}

.mat-raised-button {
  box-sizing: border-box;
  position: relative;
  -webkit-user-select: none;
  user-select: none;
  cursor: pointer;
  outline: none;
  border: none;
  -webkit-tap-highlight-color: rgb(0,0,0,0);
  display: inline-block;
  white-space: nowrap;
  text-decoration: none;
  vertical-align: baseline;
  text-align: center;
  margin: 0;
  min-width: 64px;
  line-height: 36px;
  padding: 0 16px;
  border-radius: 4px;
  overflow: visible;
  transform: translate3d(0, 0, 0);
  transition: background 400ms cubic-bezier(0.25, 0.8, 0.25, 1),box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
}

.changelogContainer
{
  margin-top: 20px;
}

html, body {
  height: 100%;
}

body {
  font-family: Roboto,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  margin: 0;
  background-color: #35343d;
}

table {
  width: 100%;
}

.save-required-card
{
  margin-top: 10px;
  margin-bottom: 10px;
}

tr.example-detail-row {
  height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
  background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
  background: #efefef;
}

.example-element-row td {
  border-bottom-width: 0;
}

.example-element-detail {
  overflow: hidden;
  display: flex;
}

.example-element-diagram {
  min-width: 250px;
  padding: 8px;
  font-weight: lighter;
  margin: 8px 0;
}

.example-element-serviceName {
  line-height: normal;
}

.example-element-details {
  padding: 8px;
  margin: 8px 0;
  width: 100%;
  height: 100%;
}

.example-element-description-attribution {
  opacity: 0.5;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}
.example-full-height {
  height: 100%;
}