<header focusonnavigation="" aria-label="Get started" id="homepage-header" class="docs-header-background" tabindex="-1" style="outline: none;">
  <div class="docs-header-section" style="width: auto; height: auto;">
    <div class="docs-header-headline">
      <h1 class="mat-h1">Welcome</h1>
      <h2> Welcome to the RDP Angular Documentation Solution</h2>
    </div>
    <div class="docs-header-start">
      <a mat-raised-button="" routerlink="/guide/getting-started" class="mat-focus-indicator docs-button mat-raised-button mat-button-base" aria-disabled="false" href="/guide/getting-started">
        <span class="mat-button-wrapper">Get started</span>
        <span matripple="" class="mat-ripple mat-button-ripple"></span>
        <span class="mat-button-focus-overlay"></span>
      </a>
    </div>  
  </div>
</header>
<div class="container">
  <h1 class="mat-h2 wip-statement">This is currently a wip and proof of concept.</h1>
</div>

